<kryptand-list-with-fab
  (fabButtonPressed)="openOverlay()"
  [entities$]="entities$"
  [entityTemplateRef]="entity"
>
</kryptand-list-with-fab>
<ng-template #entity let-entity>
  <ion-item-sliding *ngIf="entity">
    <ion-item
      >Region:
      <ion-chip outline="true" color="primary">
        <ion-label> {{ entity.title }}</ion-label>
      </ion-chip>
      &nbsp; &nbsp;Vorgeschlagener Fadentyp:
      <ion-chip outline="true" color="primary">
        <ion-label> {{ entity.suggestedThreadTypeId }}</ion-label>
      </ion-chip>
    </ion-item>
    <ion-item-options side="start">
      <ion-item-option
        (click)="openOverlay(entity)"
        color="secondary"
        expandable
      >
        Bearbeiten<ion-icon name="create"></ion-icon>
      </ion-item-option>
    </ion-item-options>
    <ion-item-options side="end">
      <ion-item-option (click)="delete(entity.title)" color="danger" expandable>
        Löschen<ion-icon name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ng-template>
