<div [formGroup]="botoxTreatmentForm">
  <ion-item>
    <ion-label position="floating">Titel</ion-label>
    <ion-input type="text" formControlName="label"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Preis pro Einheit</ion-label>
    <ion-input type="text" formControlName="pricePerAmount"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Gesamtpreis</ion-label>
    <ion-input type="text" formControlName="price"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Datum</ion-label>
    <ion-input formControlName="date" type="date"></ion-input>
  </ion-item>
  <div
    formArrayName="detail"
    *ngFor="let item of botoxTreatmentForm.get('detail'); let i = index"
  >
    <ion-row [formGroupName]="i">
      <ion-col
        width-40
        class="hydrated item-interactive item-input item-has-value item-label item-label-floating item md ion-focusable ion-pristine ion-valid ion-touched"
      >
        <ion-label
          position="floating"
          id="ion-input-2-lbl"
          class="sc-ion-label-md-h sc-ion-label-md-s hydrated md label-floating"
          >Region</ion-label
        >
        <div
          class="ion-untouched ion-pristine ion-valid sc-ion-input-md-h sc-ion-input-md-s md has-value hydrated"
        >
          <input
            type="text"
            class="native-input sc-ion-input-md"
            formControlName="region"
            [matAutocomplete]="auto"
          />
        </div>
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option
            *ngFor="let option of filteredOptions[i] | async"
            [value]="option.title"
          >
            {{ option.title }}
          </mat-option>
        </mat-autocomplete>
      </ion-col>
      <ion-col class="flex" width-40>
        <ion-button (click)="decreaseAmountAtIndex(i)">
          <ion-icon slot="icon-only" name="remove-circle-outline"></ion-icon>
        </ion-button>
        <ion-item>
          <ion-label position="floating">Menge in Einheiten</ion-label>
          <ion-input
            type="number"
            formControlName="amount"
            required
          ></ion-input>
        </ion-item>
        <ion-button (click)="increaseAmountAtIndex(i)">
          <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col class="flex" width-20>
        <ion-button (click)="addItem()">
          <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="removeItem(i)" *ngIf="i !== 0">
          <ion-icon slot="icon-only" name="remove-circle-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
  <ion-button color="primary" expand="block" (click)="save()"
    >Speichern</ion-button
  >
</div>
