<ion-segment value="botox" (ionChange)="segmentChanged($event)">
  <ion-segment-button value="botox">
    <ion-label>Botox</ion-label>
  </ion-segment-button>
  <ion-segment-button value="threads">
    <ion-label>Faden</ion-label>
  </ion-segment-button>
  <ion-segment-button value="custom">
    <ion-label>Andere</ion-label>
  </ion-segment-button>
</ion-segment>
<ion-card *ngIf="botoxActive">
  <ng-container *ngIf="botoxComponent">
    <ng-template [ngComponentOutlet]="botoxComponent | async"></ng-template>
  </ng-container>
</ion-card>
<ion-card *ngIf="threadActive">
  <ng-container *ngIf="threadComponent">
    <ng-template [ngComponentOutlet]="threadComponent | async"></ng-template>
  </ng-container>
</ion-card>
<ion-card *ngIf="customActive">
  <kryptand-patient-add-edit-treatment
          [treatment]="treatment"
          (saveTreatmentEventTriggered)="saveTreatmentEventEmitted($event)"
  ></kryptand-patient-add-edit-treatment>
</ion-card>
