<kryptand-crud-container
  title="Botox - Regionen"
  backRef="tabs/configuration"
  [templateRef]="templateRef"
  [persistorInstance]="botoxRegionPersistor"
  [fieldConfig]="fieldConfig"
>
</kryptand-crud-container>
<ng-template #templateRef let-entity>
  <ion-item
    >Titel:
    <ion-chip outline="true" color="primary">
      <ion-label> {{ entity?.title }}</ion-label>
    </ion-chip>
    &nbsp; &nbsp;Vorgeschlagene Menge:
    <ion-chip outline="true" color="primary">
      <ion-label> {{ entity?.suggestedAmount }}</ion-label>
    </ion-chip>
  </ion-item>
</ng-template>
