<form [formGroup]="formGroup" padding-right>
  <ion-item>
    <ion-label position="floating">Region</ion-label>
    <ion-input
      autofocus
      [autofocusFixAsync]="true"
      [autofocusFixSmartEmptyCheck]="true"
      [autofocusFixTriggerDetectChanges]="true"
      type="text"
      formControlName="title"
      required
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Standardmenge in Einheiten</ion-label>
    <ion-input
      autofocus
      [autofocusFixAsync]="true"
      [autofocusFixSmartEmptyCheck]="true"
      [autofocusFixTriggerDetectChanges]="true"
      type="number"
      formControlName="suggestedAmount"
      required
    ></ion-input>
  </ion-item>

  <ion-button
    color="primary"
    expand="block"
    [disabled]="!formGroup.valid"
    (click)="save()"
    >Speichern</ion-button
  >
</form>
